<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="add-song">
    <h3>Add new song</h3>
    <form action="/api/song" method="POST">
      <label for="title">Song Title:</label>
      <input type="text" id="title" name="song[title]" required>
      <label for="artist">Song Artist:</label>
      <input type="text" id="artist" name="song[artist]" required>
      <label for="year">Song Year:</label>
      <select id="year" name="song[year]" >
      <% for( let year = 2020; year > 1900; year-- ) { %>
        <option value="<%= year %>"><%= year %> </option>
      <% } %>
      </select>
      <button type="submit"> Add </button>
    </form>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>